{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Confirm{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Rest Password Confirm</h3>
   <hr>

   <form action="" method="POST" novalidate class="shadow p-5">
    {% csrf_token %}
    {% if messages %}
     {% for message in messages %}
     {{message}}
     {% endfor %}
    {% endif %}

    {% for fm in form %}
     <div class="form-group mb3">
      {{fm.label_tag}} {{fm}}<small class="text-danger"> {{fm.errors|striptags}}</small></div>{% endfor %}
     <input type="submit" class = "btn btn-danger" value="Submitt">
    <br>



   </form>
  </div>
 </div>
</div>
{% endblock main-content %}