{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        {{ error}}
        {% endfor %}
        {% endif %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Submit" class = "btn btn-info ">
        {% if messages %}
        {% for message in messages %}
        <small {% if message.tag %} class = "{{message.tag}}"{% endif %}>{{message}}</small>
        {% endfor %}
        {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}